<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <a class="navbar-brand">Mon Compte</a>
	</div>
  </div>
</div>

<div class="container" id="mainRegion"></div>