<div id="messageZone"></div>

<form role="form" class="form-horizontal">
	<h1>Mon Profil</h1>

	<p>Membre n° <span id="numeroMembre"></span></p>
	<p>Inscrit le <span id="dateInscription"></span></p>
	<p>Région <span id="region"></span></p>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Informations personnelles</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="civiliteInput">Civilité</label>
				<select class="form-control" id="civiliteInput">
					<option value="" default="">Non défini</option>
					<option value="mister">M.</option>
					<option value="mrs">Mme.</option>
					<option value="ms">Mlle.</option>
				</select>
			</div>

			<div class="form-group">
				<label for="prenomInput">Prénom</label>
				<input type="text" class="form-control" id="prenomInput" placeholder="Entrez votre prénom">
			</div>

			<div class="form-group">
				<label for="nomInput">Nom</label>
				<input type="text" class="form-control" id="nomInput" placeholder="Entrez votre nom">
			</div>

			<div class="form-group">
				<label for="dateNaissanceInput">Date de naissance</label>
				<div class="input-append date input-group" id="dateNaissanceInputPicker" data-date-format="yyyy-mm-dd">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					<input class="form-control" size="16" type="text" id="dateNaissanceInput" value="" readonly="">
				</div>
			</div>

			<div class="form-group">
				<label for="statutInput">Statut</label>
				<select class="form-control" id="statutInput">
					<option value="" default="">Non défini</option>
					<option value="single">Célibataire</option>
					<option value="couple">En couple</option>
					<option value="deceased">Décédé</option>
				</select>
			</div>

			<div class="form-group">
				<label for="enfantsInput">Nombre d'enfants</label>
				<input type="number" class="form-control" id="enfantsInput" placeholder="Entrez votre nombre d'enfants" min="0">
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Adresse</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="adresse1Input">Ligne 1</label>
				<input type="text" class="form-control" id="adresse1Input" placeholder="Entrez la ligne 1">
			</div>
			<div class="form-group">
				<label for="adresse2Input">Ligne 2</label>
				<input type="text" class="form-control" id="adresse2Input" placeholder="Entrez la ligne 2">
			</div>

			<div class="form-group">
				<label for="codePostalInput">Code postal</label>
				<input type="text" class="form-control" id="codePostalInput" placeholder="Entrez votre code postal">
			</div>

			<div class="form-group">
				<label for="villeInput">Ville</label>
				<input type="text" class="form-control" id="villeInput" placeholder="Entrez votre ville">
			</div>

			<div class="form-group">
				<label for="paysInput">Pays</label>
				<input type="text" class="form-control" id="paysInput" placeholder="Entrez votre pays">
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox" id="adressePriveeInput"> Ne pas afficher dans l'annuaire
				</label>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Coordonnées</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="telephoneInput">Téléphone</label>
				<input type="text" class="form-control" id="telephoneInput" placeholder="Entrez votre numéro de téléphone">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="telephonePriveInput"> Ne pas afficher le téléphone dans l'annuaire
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="emailInput">Email</label>
				<input type="email" class="form-control" id="emailInput" placeholder="Entrez votre adresse email">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="emailPriveInput"> Ne pas afficher l'email dans l'annuaire
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Autre</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="deviseInput">Devise</label>
				<input type="text" class="form-control" id="deviseInput" placeholder="Entrez votre devise">
			</div>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-default">Valider</button>
		<a class="btn btn-link cancel">Annuler</a>
	</div>
</form>
