<div id="messageZone"></div>

<form role="form" class="form-horizontal">
	<h1 id="fullname"></h1>

	<p>Membre n° <span id="numeroMembre"></span>, région <span id="region"></span></p>
	<p>Inscrit le <span id="dateInscription"></span></p>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Informations personnelles</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="dateNaissanceInput">Date de naissance</label>
				<div id="dateNaissance"></div>
			</div>

			<div class="form-group">
				<label for="statutInput">Statut</label>
				<select class="form-control" id="statutInput">
					<option value="" default="">Non défini</option>
					<option value="single">Célibataire</option>
					<option value="couple">En couple</option>
					<option value="deceased">Décédé</option>
				</select>
			</div>

			<div class="form-group">
				<label for="enfantsInput">Nombre d'enfants</label>
				<input type="number" class="form-control" id="enfantsInput" placeholder="Entrez votre nombre d'enfants" min="0">
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Adresse</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="adresse1Input">Ligne 1</label>
				<input type="text" class="form-control" id="adresse1Input" placeholder="Entrez la ligne 1" maxlength="35" required="true">
			</div>
			<div class="form-group">
				<label for="adresse2Input">Ligne 2</label>
				<input type="text" class="form-control" id="adresse2Input" placeholder="Entrez la ligne 2" maxlength="35">
			</div>
			<div class="form-group">
				<label for="adresse3Input">Ligne 3</label>
				<input type="text" class="form-control" id="adresse3Input" placeholder="Entrez la ligne 3" maxlength="35">
			</div>

			<div class="form-group">
				<label for="codePostalInput">Code postal</label>
				<input type="text" class="form-control" id="codePostalInput" placeholder="Entrez votre code postal" maxlength="20" required="true">
			</div>

			<div class="form-group">
				<label for="villeInput">Ville</label>
				<input type="text" class="form-control" id="villeInput" placeholder="Entrez votre ville" maxlength="50" required="true">
			</div>

			<div class="form-group">
				<label for="paysInput">Pays</label>
				<input type="text" class="form-control" id="paysInput" placeholder="Entrez votre pays" maxlength="50" required="true">
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox" id="adressePriveeInput"> Ne pas afficher dans l'annuaire
				</label>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Coordonnées</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="telephoneInput">Téléphone</label>
				<input type="text" class="form-control" id="telephoneInput" placeholder="Entrez votre numéro de téléphone" maxlength="20">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="telephonePriveInput"> Ne pas afficher le téléphone dans l'annuaire
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="emailInput">Email</label>
				<input type="email" class="form-control" id="emailInput" placeholder="Entrez votre adresse email" maxlength="100">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="emailPriveInput"> Ne pas afficher l'email dans l'annuaire
					</label>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Compétences linguistiques</h3>
		</div>
		<div class="panel-body" id="languesRegion">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Savoir-faire</h3>
		</div>
		<div class="panel-body" id="competencesRegion">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Intérêts, hobbies, passions</h3>
		</div>
		<div class="panel-body" id="passionsRegion">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Autre</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="deviseInput">Devise</label>
				<input type="text" class="form-control" id="deviseInput" placeholder="Entrez votre devise">
			</div>
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-default">Valider</button>
		<a class="btn btn-link cancel">Annuler</a>
	</div>
</form>
