<form role="form" class="form-horizontal">
	<h1>Mon Profil</h1>

	<h4>Membre n° <span id="numeroMembre"></span></h4>
	<h4>Inscrit le <span id="dateInscription"></span></h4>
	<h4>Région <span id="region"></span></h4>

	<div class="form-group">
		<label for="genreInput">Genre</label>
		<input type="text" class="form-control" id="genreInput" placeholder="Entrez votre genre">
	</div>

	<div class="form-group">
		<label for="civiliteInput">Civilité</label>
		<input type="text" class="form-control" id="civiliteInput" placeholder="Entrez votre civilité">
	</div>

	<div class="form-group">
		<label for="prenomInput">Prénom</label>
		<input type="text" class="form-control" id="prenomInput" placeholder="Entrez votre prénom">
	</div>

	<div class="form-group">
		<label for="nomInput">Nom</label>
		<input type="text" class="form-control" id="nomInput" placeholder="Entrez votre nom">
	</div>

	<div class="form-group">
		<label for="dateNaissanceInput">Date de naissance</label>
		<div class="input-append date" id="dateNaissanceInputPicker" data-date-format="yyyy-mm-dd">
			<span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
			<input class="form-control" size="16" type="text" id="dateNaissanceInput" value="" readonly="">
		</div>
	</div>

	<div class="form-group">
		<label for="statutInput">Statut</label>
		<input type="text" class="form-control" id="statutInput" placeholder="Entrez votre statut">
	</div>

	<div class="form-group">
		<label for="deviseInput">Devise</label>
		<input type="text" class="form-control" id="deviseInput" placeholder="Entrez votre devise">
	</div>

	<div class="form-group">
		<label for="enfantsInput">Nombre d'enfants</label>
		<input type="number" class="form-control" id="enfantsInput" placeholder="Entrez votre nombre d'enfants" min="0">
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-default">Valider</button>
	</div>
</form>
