$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

@import '_bootstrap_callout.scss';

body {
	padding-top: 50px; // Height of bootstrap navbar.
}

.navbar-brand {
	.version {
		font-size: 0.6em;
		//font-style: italic;
		font-weight: normal;
		opacity: 0.6;
	}
}

.form-group {
	padding: 0 15px;

	#dateNaissanceInput {
		display: inline-block;
		width: auto;
	}
}

#messageZone {
	.alert {
		margin-top: 10px;

		.message {
			white-space: pre-line;
		}
	}
}

.genericList {
	.add-button {
		font-size: .7em;
	}

	.itemContainer {

		.genericItem {
			border-bottom: 1px solid $panel-inner-border;
			margin-bottom: 15px;
		}
	}
}
