<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

<div class="form-group">
	<label>Nom</label>
	<input type="text" class="form-control name" placeholder="Saisissez un nom" value="{{nom}}">
</div>

<div class="form-group">
	<label>Niveau</label>
	<input type="number" class="form-control rating" placeholder="Saisissez un niveau entre 1 et 5" value="{{niveau}}">
</div>
