<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<h4 class="title">{{title}}</h4>
	<p class="message">{{message}}</p>
</div>
